<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <span class="fs-4">Game Catalog</span>

      <ul ngbNav class="nav nav-pills gap-3">
        <li ngbNavItem>
          <a ngbNavLink routerLink="/" routerLinkActive="active" class="btn btn-outline-light">Home</a>
        </li>
        <li ngbNavItem>
          <a ngbNavLink routerLink="/add" routerLinkActive="active" class="btn btn-outline-light">Add Game</a>
        </li>
      </ul>
    </div>
  </div>
</header>